1. CSV 파일 로컬에서 불러오기

In [1]:
import pandas as pd

# 로컬 CSV 파일 읽기
file_path = "C:/Users/Admin/Desktop/3-1/인공지능개론/week2/iris.csv" 
df = pd.read_csv(file_path)

df.head(), df.columns

print(df)

     SepalLength  SepalWidth  PetalLength  PetalWidth            Name
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

2. CSV파일 온라인에서 불러오기

In [3]:
import pandas as pd

url = "https://raw.githubusercontent.com/MyungKyuYi/AI-class/main/mobile.csv"

df = pd.read_csv(url)

df.head(), df.columns

print(df)

      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  ...  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2  ...         20       756  2549     9     7
1       0.7        136        3  ...        905      1988  2631    17     3
2       0.9        145        5  ...       1263      1716  2603    11     2
3       0.8        131        6  ...       1216      1786  2769    16     8
4       0.6        141        2  ...       1208      1212  1411     8     2
...     ...        ...      ...  ...        ...       ...   ...   ...   ...
1995    0.8        106        6  ...       1222      1890   668    13     4
1996    0.2        187        4  ...        915      1965  2032    11    10
1997    0.7        108        8  ...        868      1632  3057     9     1
1998    0.1        145        5  ...        336       670   869    18    10
1999    0.9        168        6  ...        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi  price_range
0            19        0             0     1            1
1             7        1             1     0            2
2             9        1             1     0            2
3            11        1             0     0            2
4            15        1             1     0            1
...         ...      ...           ...   ...          ...
1995         19        1             1     0            0
1996         16        1             1     1            2
1997          5        1             1     0            3
1998         19        1             1     1            0
1999          2        1             1     1            3

[2000 rows x 21 columns]

3. 엑셀 파일 로컬에서 불러오기

In [5]:
import pandas as pd

# 엑셀 파일 변환
df = pd.read_excel('C:/Users/Admin/Desktop/3-1/인공지능개론/week2/combined_dataset-1.xlsx')

print("엑셀 파일:")
print(df)

df.to_csv('combined.csv', index=False) 
df_csv = pd.read_csv('combined.csv')

print("\nCSV로 변환:")

print(df_csv)

엑셀 파일:
     Num.  subject_ID Sex(M/F)  Age(year)  Height(cm)  Weight(kg)  \
0       1           2   Female         45         152          63
1       1           2   Female         45         152          63
2       1           2   Female         45         152          63
3       2           3   Female         50         157          50
4       2           3   Female         50         157          50
..    ...         ...      ...        ...         ...         ...
652   218         418     Male         25         173          63
653   218         418     Male         25         173          63
654   219         419     Male         24         175          58
655   219         419     Male         24         175          58
656   219         419     Male         24         175          58

     Systolic Blood Pressure(mmHg)  Diastolic Blood Pressure(mmHg)  \
0                              161                              89
1                              161                              89
2                              161                              89
3                              160                              93
4                              160                              93
..                             ...                             ...
652                            106                              69
653                            106                              69
654                            108                              68
655                            108                              68
656                            108                              68

     Heart Rate(b/m)  BMI(kg/m^2)  ...  2091  2092  2093  2094  2095  2096  \
0                 97    27.268006  ...  1766  1766  1766  1833  1833  1827
1                 97    27.268006  ...  1985  1985  2026  2026  2026  1977
2                 97    27.268006  ...  1942  1900  1900  1938  1938  1938
3                 76    20.284799  ...  2073  2072  2072  2072  2051  2051
4                 76    20.284799  ...  2021  2010  2010  2010  2001  2001
..               ...          ...  ...   ...   ...   ...   ...   ...   ...
652               67    21.049818  ...  2702  2671  2679  2675  2695  2703
653               67    21.049818  ...  2391  2362  2378  2363  2323  2355
654               65    18.938776  ...  2399  2463  2415  2406  2407  2447
655               65    18.938776  ...  3075  3091  3067  3051  3121  3135
656               65    18.938776  ...  2623  2627  2674  2670  2662  2647

     2097  2098  2099  2100
0    1827  1827  1754  1754
1    1977  1997  1997  1997
2    1924  1924  1929  1929
3    2036  2036  2036  2045
4    2003  2003  2003  1989
..    ...   ...   ...   ...
652  2667  2662  2687  2635
653  2355  2395  2362  2367
654  2435  2422  2451  2379
655  3091  3103  3146  3151
656  2631  2611  2639  2623

[657 rows x 2114 columns]

CSV로 변환:
     Num.  subject_ID Sex(M/F)  Age(year)  Height(cm)  Weight(kg)  \
0       1           2   Female         45         152          63
1       1           2   Female         45         152          63
2       1           2   Female         45         152          63
3       2           3   Female         50         157          50
4       2           3   Female         50         157          50
..    ...         ...      ...        ...         ...         ...
652   218         418     Male         25         173          63
653   218         418     Male         25         173          63
654   219         419     Male         24         175          58
655   219         419     Male         24         175          58
656   219         419     Male         24         175          58

     Systolic Blood Pressure(mmHg)  Diastolic Blood Pressure(mmHg)  \
0                              161                              89
1                              161                              89
2                              161                              89
3                              160                              93
4                              160                              93
..                             ...                             ...
652                            106                              69
653                            106                              69
654                            108                              68
655                            108                              68
656                            108                              68

     Heart Rate(b/m)  BMI(kg/m^2)  ...  2091  2092  2093  2094  2095  2096  \
0                 97    27.268006  ...  1766  1766  1766  1833  1833  1827
1                 97    27.268006  ...  1985  1985  2026  2026  2026  1977
2                 97    27.268006  ...  1942  1900  1900  1938  1938  1938
3                 76    20.284799  ...  2073  2072  2072  2072  2051  2051
4                 76    20.284799  ...  2021  2010  2010  2010  2001  2001
..               ...          ...  ...   ...   ...   ...   ...   ...   ...
652               67    21.049818  ...  2702  2671  2679  2675  2695  2703
653               67    21.049818  ...  2391  2362  2378  2363  2323  2355
654               65    18.938776  ...  2399  2463  2415  2406  2407  2447
655               65    18.938776  ...  3075  3091  3067  3051  3121  3135
656               65    18.938776  ...  2623  2627  2674  2670  2662  2647

     2097  2098  2099  2100
0    1827  1827  1754  1754
1    1977  1997  1997  1997
2    1924  1924  1929  1929
3    2036  2036  2036  2045
4    2003  2003  2003  1989
..    ...   ...   ...   ...
652  2667  2662  2687  2635
653  2355  2395  2362  2367
654  2435  2422  2451  2379
655  3091  3103  3146  3151
656  2631  2611  2639  2623

[657 rows x 2114 columns]

C:\Users\Admin\AppData\Local\Temp\ipykernel_17756\1044950458.py:10: DtypeWarning: Columns (12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df_csv = pd.read_csv('combined.csv')

4. 엑셀 파일 온라인에서 불러오기

In [7]:
import pandas as pd

# 엑셀 파일 변환
url = 'https://raw.githubusercontent.com/MyungKyuYi/AI-class/main/combined_dataset-1.xlsx'

df = pd.read_excel(url)

print("\nbDataFrame:")

print(df)

bDataFrame:
     Num.  subject_ID Sex(M/F)  Age(year)  Height(cm)  Weight(kg)  \
0       1           2   Female         45         152          63
1       1           2   Female         45         152          63
2       1           2   Female         45         152          63
3       2           3   Female         50         157          50
4       2           3   Female         50         157          50
..    ...         ...      ...        ...         ...         ...
652   218         418     Male         25         173          63
653   218         418     Male         25         173          63
654   219         419     Male         24         175          58
655   219         419     Male         24         175          58
656   219         419     Male         24         175          58

     Systolic Blood Pressure(mmHg)  Diastolic Blood Pressure(mmHg)  \
0                              161                              89
1                              161                              89
2                              161                              89
3                              160                              93
4                              160                              93
..                             ...                             ...
652                            106                              69
653                            106                              69
654                            108                              68
655                            108                              68
656                            108                              68

     Heart Rate(b/m)  BMI(kg/m^2)  ...  2091  2092  2093  2094  2095  2096  \
0                 97    27.268006  ...  1766  1766  1766  1833  1833  1827
1                 97    27.268006  ...  1985  1985  2026  2026  2026  1977
2                 97    27.268006  ...  1942  1900  1900  1938  1938  1938
3                 76    20.284799  ...  2073  2072  2072  2072  2051  2051
4                 76    20.284799  ...  2021  2010  2010  2010  2001  2001
..               ...          ...  ...   ...   ...   ...   ...   ...   ...
652               67    21.049818  ...  2702  2671  2679  2675  2695  2703
653               67    21.049818  ...  2391  2362  2378  2363  2323  2355
654               65    18.938776  ...  2399  2463  2415  2406  2407  2447
655               65    18.938776  ...  3075  3091  3067  3051  3121  3135
656               65    18.938776  ...  2623  2627  2674  2670  2662  2647

     2097  2098  2099  2100
0    1827  1827  1754  1754
1    1977  1997  1997  1997
2    1924  1924  1929  1929
3    2036  2036  2036  2045
4    2003  2003  2003  1989
..    ...   ...   ...   ...
652  2667  2662  2687  2635
653  2355  2395  2362  2367
654  2435  2422  2451  2379
655  3091  3103  3146  3151
656  2631  2611  2639  2623

[657 rows x 2114 columns]

5. Diabates 자료를 통해 KNN 알고리즘 적용

In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

url = "https://raw.githubusercontent.com/MyungKyuYi/AI-class/refs/heads/main/diabetes.csv"

df = pd.read_csv(url)

df.head(), df.columns

print(df)

X = df.drop('Outcome', axis=1)
y = df["Outcome"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# KNN 알고리즘 적용
model = KNeighborsRegressor()
model_name = "KNN"
    
# 훈련
model.fit(X_train, y_train)

# 훈련된 데이터를 가지고 test 데이터를 predict
y_pred = model.predict(X_test)

# 정답과 test 결과값(y_pred) 비교
mse = mean_squared_error(y_test, y_pred)

print(f"{model_name} 모델의 평균 제곱 오차: {mse:.2f}")

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]
KNN 모델의 평균 제곱 오차: 0.22

6. Diabates 자료를 통해 KNN 알고리즘 적용 및 실제값과 예측값 비교

In [11]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error

url = "https://raw.githubusercontent.com/MyungKyuYi/AI-class/refs/heads/main/diabetes.csv"

df = pd.read_csv(url)

df.head(), df.columns

print(df)

X = df.drop('Outcome', axis=1)
y = df["Outcome"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = KNeighborsRegressor()
model_name = "KNN"
    
# 훈련
model.fit(X_train, y_train)

# 훈련된 데이터를 가지고 test 데이터를 predict
y_pred = model.predict(X_test)

# 정답과 test 결과값(y_pred) 비교
mse = mean_squared_error(y_test, y_pred)

print(f"{model_name} 모델의 평균 제곱 오차: {mse:.2f}")

print("실제 값  | 예측 값")
print("-" * 50)
for actual, predicted in zip(y_test[10:20], y_pred[10:20]): 
    print(f"{actual:^7} | {predicted:^7.2f}")

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]
KNN 모델의 평균 제곱 오차: 0.22
실제 값  | 예측 값
--------------------------------------------------
   1    |  0.20
   0    |  1.00
   1    |  0.20
   0    |  0.00
   0    |  0.00
   1    |  0.80
   0    |  0.20
   0    |  0.00
   1    |  1.00
   1    |  0.40

7. 2주차 실습과제 (titanic 자료 실습)

In [21]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix

# LabelEncoder 객체 생성
encoder = LabelEncoder()

# 1. 데이터 로딩
file_path = "https://raw.githubusercontent.com/MyungKyuYi/AI-class/refs/heads/main/titanic.csv"
df = pd.read_csv(file_path)

# 2. 결측치 확인
print(df.isnull().sum())
print("================================================================")

# 3. 결측치 제거 (Age의 결측치는 평균나이로)
df['Age'].fillna(df['Age'].mean(), inplace=True)
df.dropna(inplace=True)
print(df)
print("================================================================")

# 4. 불균형 여부 확인 (생존자 확인)
print(df['Survived'].value_counts())
print(df['Survived'].value_counts(normalize=True))  # 비율
print("================================================================")

# 5. 불필요한 컬럼 제거
df.drop(["Name", "Ticket", "Embarked"], axis=1, inplace=True)
print(df)
print("================================================================")

# 6. 인코딩(머신러닝과 딥러닝의 모든 값을 숫자로 변경, 단 머신러닝의 label은 제외)
for column in df.select_dtypes(include=['object']).columns:
    df[column] = encoder.fit_transform(df[column])
print(df)
print("================================================================")

# 특징과 결과값 지정
X = df.drop('Survived', axis=1)
Y = df["Survived"]

# 훈련 데이터와 테스트 데이터 분리 (80% 훈련, 20% 테스트)
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

# 모델 정의
models = {
    'Linear Regression': LinearRegression(),
    'Support Vector Machine': SVR(),
    'Random Forest': RandomForestRegressor(),
    'Decision Tree': DecisionTreeRegressor(),
    'K-Nearest Neighbors': KNeighborsRegressor()
}

for model_name, model in models.items():
    model.fit(X_train, y_train)  # 훈련
    y_pred = model.predict(X_test)  # 예측
    
    # 연속적인 예측값을 0 또는 1로 변환해야 정확도와 혼동 행렬 확인 가능
    y_pred_binary = np.where(y_pred > 0.5, 1, 0)


    print(f"{model_name} 모델")
    print("정확도(Accuracy):", accuracy_score(y_test, y_pred_binary))
    print("혼동 행렬(Confusion Matrix):\n", confusion_matrix(y_test, y_pred_binary))
    print("================================================================")

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64
================================================================
     PassengerId  Survived  Pclass  \
1              2         1       1
3              4         1       1
6              7         0       1
10            11         1       3
11            12         1       1
..           ...       ...     ...
871          872         1       1
872          873         0       1
879          880         1       1
887          888         1       1
889          890         1       1

                                                  Name     Sex   Age  SibSp  \
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                              McCarthy, Mr. Timothy J    male  54.0      0
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
..                                                 ...     ...   ...    ...
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0

     Parch    Ticket     Fare        Cabin Embarked
1        0  PC 17599  71.2833          C85        C
3        0    113803  53.1000         C123        S
6        0     17463  51.8625          E46        S
10       1   PP 9549  16.7000           G6        S
11       0    113783  26.5500         C103        S
..     ...       ...      ...          ...      ...
871      1     11751  52.5542          D35        S
872      0       695   5.0000  B51 B53 B55        S
879      1     11767  83.1583          C50        C
887      0    112053  30.0000          B42        S
889      0    111369  30.0000         C148        C

[202 rows x 12 columns]
================================================================
Survived
1    134
0     68
Name: count, dtype: int64
Survived
1    0.663366
0    0.336634
Name: proportion, dtype: float64
================================================================
     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
1              2         1       1  female  38.0      1      0  71.2833
3              4         1       1  female  35.0      1      0  53.1000
6              7         0       1    male  54.0      0      0  51.8625
10            11         1       3  female   4.0      1      1  16.7000
11            12         1       1  female  58.0      0      0  26.5500
..           ...       ...     ...     ...   ...    ...    ...      ...
871          872         1       1  female  47.0      1      1  52.5542
872          873         0       1    male  33.0      0      0   5.0000
879          880         1       1  female  56.0      0      1  83.1583
887          888         1       1  female  19.0      0      0  30.0000
889          890         1       1    male  26.0      0      0  30.0000

           Cabin
1            C85
3           C123
6            E46
10            G6
11          C103
..           ...
871          D35
872  B51 B53 B55
879          C50
887          B42
889         C148

[202 rows x 9 columns]
================================================================
     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Cabin
1              2         1       1    0  38.0      1      0  71.2833     80
3              4         1       1    0  35.0      1      0  53.1000     54
6              7         0       1    1  54.0      0      0  51.8625    128
10            11         1       3    0   4.0      1      1  16.7000    144
11            12         1       1    0  58.0      0      0  26.5500     48
..           ...       ...     ...  ...   ...    ...    ...      ...    ...
871          872         1       1    0  47.0      1      1  52.5542    101
872          873         0       1    1  33.0      0      0   5.0000     33
879          880         1       1    0  56.0      0      1  83.1583     69
887          888         1       1    0  19.0      0      0  30.0000     29
889          890         1       1    1  26.0      0      0  30.0000     59

[202 rows x 9 columns]
================================================================
Linear Regression 모델
정확도(Accuracy): 0.8536585365853658
혼동 행렬(Confusion Matrix):
 [[ 7  1]
 [ 5 28]]
================================================================
Support Vector Machine 모델
정확도(Accuracy): 0.8048780487804879
혼동 행렬(Confusion Matrix):
 [[ 0  8]
 [ 0 33]]
================================================================

C:\Users\Admin\AppData\Local\Temp\ipykernel_17756\1312820429.py:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace=True)

Random Forest 모델
정확도(Accuracy): 0.8048780487804879
혼동 행렬(Confusion Matrix):
 [[ 5  3]
 [ 5 28]]
================================================================
Decision Tree 모델
정확도(Accuracy): 0.7317073170731707
혼동 행렬(Confusion Matrix):
 [[ 3  5]
 [ 6 27]]
================================================================
K-Nearest Neighbors 모델
정확도(Accuracy): 0.6829268292682927
혼동 행렬(Confusion Matrix):
 [[ 3  5]
 [ 8 25]]
================================================================